<div class="container">
  <form class="sign-in-form" novalidate #signInForm="ngForm" (submit)="onSubmit(signInForm)">
    <h2>Sign in</h2>

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" name="Username" [(ngModel)]="userInfor.userName" required minlength="6"
          maxlength="32" [pattern]="userNamePattern" #username="ngModel">
        <mat-error *ngIf="username.errors?.required">Username is required!</mat-error>
      </mat-form-field>
      <pre>{{ username.errors | json }}</pre>
    </div>

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [(ngModel)]="userInfor.password" name="Password">
      </mat-form-field>
    </div>

    <div class="row-control">
      <mat-checkbox [(ngModel)]="userInfor.rememberMe" name="rememberMe">Remember me</mat-checkbox>
    </div>

    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>
  </form>

  <pre>
    {{ signInForm.value | json }}
    </pre>
</div>
